.result {
    list-style: none;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 8px 10px;
}

.result:hover {
    background-color: #f7fbfc;
}

.cmdlines {
    display: none;
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.cmdline {
    padding: 5px;
}

.stdout {
    color: #282;
}

.stderr {
    color: #822;
}

.failure {
    border-left: 5px solid #c00;
}

.success {
    border-left: 5px solid #9f0;
}

.timeout {
    border-left: 5px solid #fc0;
}

svg {
    border: 1px solid #000;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}
