.cmdline {
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.stdout {
    display: none;
    color: #282;
}

.stderr {
    display: none;
    color: #822;
}

.failure {
    border-left: 5px solid #c00;
}

.success {
    border-left: 5px solid #9f0;
}

.timeout {
    border-left: 5px solid #fc0;
}

.result {
    list-style: none;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 8px 10px;
}

.result:hover {
    background-color: #f7fbfc;
}
